REACT_APP_BACKEND_ROUTE=http://localhost:1337

# sanity
NEXT_PUBLIC_SANITY_PROJECT_ID=6l2ins9s
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2023-10-25
NEXT_PUBLIC_SANITY_API_TOKEN=ska4XTm6e9ptGvaAESCrY60JwJ9fPy96FQtz8PtaoDR2Gmg3dlaeHKqBBRlAuoKtDGvKRZCiXGLIz1mpv4mhHlwc4EetBAZCc1YUIytOkXSowtyTrQQXcL0yV15RBT8tIBMigz4fcE4W17ku9kGF3AJF2OUhPEGjHogp6caBAJC4YZcyWxj9

SANITY_STUDIO_URL=https://studio.sanity.io/6l2ins9s/production

NEXT_PUBLIC_RECAPTCHA_SITE_KEY="6LcXr6QrAAAAANcwA0y4_TsZ_noPWVLSm_glDmTM"