@import "tailwindcss";

:root {
  --background: #776bff;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #776bff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

.scroll-section {
  height: 100vh;
}

@font-face {
  font-family: "Komigo3D";
  src: url("../public/fonts/Komigo3D-Regular.woff2") format("woff2");
  font-display: swap;
}

.font-komigo3d {
  font-family: "Komigo3D", sans-serif;
}

@font-face {
  font-family: "Crispy";
  src: url("../public/fonts/Fish\ Crispy.woff2") format("woff2");
  font-display: swap;
}

.font-crispy {
  font-family: "Crispy", sans-serif;
}

@keyframes scrollWheel {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.scroll-wheel-animation {
  animation: scrollWheel 1.5s ease-in-out infinite;
}

.container {
  @apply mx-auto px-[16px] sm:px-0;
}

.slide-in-bottom {
  animation: slide-in-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

svg {
  @apply cursor-pointer;
}

.custom-container {
  @apply px-[16px] sm:px-[24px];
}
